@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  height: 100%;
  scroll-behavior: smooth !important; /* Force smooth scrolling */
}

.bg-gradient{
  @apply bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@theme {
  
  --animate-ping: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite
  
}

@media screen and (prefers-reduced-motion: no-preference) {
  html, body {
    scroll-behavior: smooth;
  }
}